@charset "UTF-8";
/*--------------------------------------------------------------*/
*{
    box-sizing: border-box;
}
html, body {
    font-family: Georgia, serif;
    min-width: 25em;
    background-color: #f9f9f9;

}
header {
    background: url("../images/bannerblack.png") no-repeat center;
    background-size: auto;
}
header p{
    min-height:5rem;
    text-indent:100%;
    white-space: nowrap;
    overflow: hidden;
}
/* Test 2 navigatie */
nav{

    height: 5rem;
}
nav a{
    text-decoration:none;
}
nav, nav ul {
    width: 100%
}
nav ul {
    background-color: rgba(105, 97, 28, 0.71);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* alles achter elkaar, past het niet zet het eronder.*/
    justify-content: space-evenly;
    height:auto;
}
nav li {
    padding:0.5em;
    display: inline-block;
    flex-direction: row;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
}
nav a:hover{
    color: #6B8990;
    transition: color 0.3s ease-in-out;
}
/*----------Alles hierboven is hetzelfde op elke pagina----------*/

footer a{
    text-decoration: none;
    color:#000;
}
h1{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding:1rem;
}
h2{
    font-weight: bold;
    padding:0.3rem;
}
article h2, article p, h2 a{
    line-height:1.2em;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    color: #000;
}
h2 a:hover {
    color: #00b2ff;
    transition: color 0.3s ease-in-out;
}
article section div p{
    margin-left:0.3rem;
    margin-bottom: 1em;
}
article img{
    display:block;
    width:75%;
    margin-left: auto;
    margin-right:auto;
}
aside{
    margin:1.5rem;
}
aside p , aside h2{
    font-weight: bold;
    text-align: center;
}
aside section{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
aside section p{
    padding:1em;
    box-sizing: content-box;
    border: solid #000000 0.1em;
    text-align: center;
}
.frame{
    display:block;
    margin:0 auto;
    width:100%;

}
footer {
    margin-top: 1rem;
    padding:1rem;
    line-height: 1.5rem;
    background-color: rgba(105, 97, 28, 0.48);
}
@media screen and (min-width: 800px) {
    h1 {

        font-size: 2.5em;
    }
    article {
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        grid-column-gap: 1em;
        grid-auto-rows: minmax(0, auto);
        justify-content: center;
        margin-bottom:1em;
    }

    article img {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:2rem;
    }
    aside{
        border: #6B8990 solid;
        box-sizing:border-box ;
    }
    aside h2{
        text-decoration: underline;
    }
    .frame{
        margin-top: 5rem;
    }

}
@media screen and (min-width:1200px) {
    .artikel{
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: minmax(0, auto);
        justify-content: center;
        margin-left:1em;
    }

    article img {
        display: block;
        width: 80%;
        height:auto;
        max-height: 25rem;
        margin-left:0.5em;
        margin-right: auto;
    }
    article h2{
        font-size: 1.2em;
    }
    article p{
        line-height:1.5em;
    }
    article{
        margin-right: 1rem;
    }

}
